[appSettings]
agentid = 58f3209f-336b-4d7a-a0b7-689f15742d8d
nu = admin
wp = vFense#123
serverhostname = 
serveripaddress = 10.211.55.3
serverport = 443
agentport = 9003
tunnelport = 22
loglevel = debug
customer = default

[agentInfo]
name = TopPatch Agent
version = 0.7.0
description = TopPatch Agent
installdate = 03/28/2014

